networks:
  backendnet:
    name: backendnet
    # external: true
    # internal: true
    driver: bridge
services:
  kc_pg_db:
      container_name: kc_pg_db
      image: postgres:16.11-alpine3.23
      # volumes:
      # - postgres_data:/var/lib/postgresql/data
      environment:
        POSTGRES_DB: keycloak
        POSTGRES_USER: ${POSTGRES_USER:-keycloak}
        POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-changeit}
      ports:
        - '5432:5432' # Gives direct access to the database, useful for debugging
      networks:
        - backendnet

  kc:
      container_name: kc
      image: quay.io/keycloak/keycloak:26.4.7
      environment:
        # KC_LOG_LEVEL: debug 

        KC_DB: postgres
        KC_DB_URL: 'jdbc:postgresql://kc_pg_db:5432/keycloak'
        KC_DB_USERNAME: ${POSTGRES_USER:-keycloak}
        KC_DB_PASSWORD: ${POSTGRES_PASSWORD:-changeit}
        KC_DB_SCHEMA: public

        KC_BOOTSTRAP_ADMIN_USERNAME: admin
        KC_BOOTSTRAP_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD:-changeit}
        # KC_ADMIN_USERNAME: admin
        # KC_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD:-changeit}

        KC_HOSTNAME: ${KC_HOSTNAME:-localhost}
        KC_HOSTNAME_PORT: ${KC_PORT:-8080}
        # KC_HOSTNAME_STRICT: false # False only for testing
        # KC_HOSTNAME_STRICT_HTTPS: false # False only for testing

        KC_PROXY: edge
        KC_PROXY_HEADERS: xforwarded

        KC_HTTP_ENABLED: true
      command: start
      ports:
        - '8080:8080' # Gives direct access to keycloak, useful for debugging
      networks:
        - backendnet
      depends_on:
        - kc_pg_db

  nginx:
      container_name: nginx
      image: nginx:trixie-perl
      volumes:
        - /home/christopher/Dokumente/Projects/Amber/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
        - /home/christopher/Dokumente/Projects/Amber/nginx/certs:/etc/nginx/certs:ro
        - /home/christopher/Dokumente/Projects/Amber/Frontend/ReactFrontEnd/dist:/usr/share/nginx/html:ro 
        - /home/christopher/Dokumente/TheAnswerIs42a.github.io:/usr/share/nginx/html2:ro  
      ports:
        - '8444:8444'
      networks:
        - backendnet
      depends_on:
        - kc